* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body{
  background: url("wavy.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  font-size: 62.5%;
}

.container{
  width: 100%;
  padding-top: 11%;
}

.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
  font-size: 1.5rem;
}

.form-control {
  margin: 0 auto;
  background: rgba(0, 0, 0, .5);
  color: white;
}

.graph {
  background: rgba(0, 0, 0, .1);
  margin: 0 auto;
}