<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Moody Bluez - About Us</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
<!--    <script src="/js/script.js}" type="text/javascript"></script>-->
</head>

<body>

<div th:replace="fragments/topnav :: navbar">

</div>
<div>
    <h1>Moody Bluez - About Us</h1>
    <p>
        Moody Bluez allows users to record their overall mood daily. 
        At the end of the day the user can choose thier overall mood for the day and then write a description as to what they did during the day and what they feel may have caused their overall mood.
        The users dashboard will contain metrics such as what weekday they tend to be the most happy. 
        Moody Bluez is for someone who is looking to monitor their habits and develop an understanding of what causes them to feel certain ways. 
        Users can interact with Moody Bluez using a set of RESTful service endpoints.
    </p>
</div>
</body>
</html>