<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Moody Bluez</title>
    <script src="https://kit.fontawesome.com/9cf0b47c7c.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/indexStyle.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/topnav :: navbar">

</div>
    <div class="container">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                    <h1></h1>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">
            </div>
        </div>
    </div>

    <script src="js/calendar.js"></script>

    <div id="dialog" title="Moody" hidden="true">
        <h2>Mood Entry</h2>
        <form class="bs-example bs-example-form" role="form">
            <input id="entryID" type="hidden" class="form-control" hidden="hidden" display="None">
            <div class="input-group">
                <span class="input-group-addon">Date(yyyy-mm-dd)</span>
                <input id="date" type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Mood</span>
                <select id="mood" type="text" class="form-control"></select>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Description</span>
                <input id="description" type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <button class="btn btn-dark" style="margin: auto" onclick="submitEntry()">Submit</button>
                <button id="deleteButton" class="btn btn-dark" style="margin: auto; visibility: hidden" onclick="deleteEntry()">Delete</button>
            </div>
        </form>
    </div>

</body>
</html>