<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <script src="https://kit.fontawesome.com/9cf0b47c7c.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/process_register}" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>Username</label>
        <input th:field="*{username}"/>
    </div>
    <div>
        <label>Password</label>
        <input th:field="*{password}"/>
    <button type="submit">submit</button>
    </div>
    <h1>If you already have an account click here</h1>
    <a th:href="@{/login}">Login</a>
</form>
</body>
</html>